<div class="content">

    <!-- Sale & Revenue Start -->
<div style="height:80vh" class="adminMenu container-fluid pt-4 px-4 d-flex justify-content-center align-items-center">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-4">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i style="height: 48px;" class="bi bi-droplet-fill fa-3x text-red"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Donors</p>
                    
                    <h6 class="mb-0">40</h6>
                    <a routerLink="">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-4">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i style="height: 48px;" class="bi bi-person-check-fill fa-3x text-red"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Recipients</p>
                    
                    <h6 class="mb-0">30</h6>
                    <a href="./recipientdetails.php">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-4">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-clock fa-3x text-red"></i>
                <div class="ms-3">
                    <p class="mb-2">Donors Requests</p>
                    
                    <h6 class="mb-0">3</h6>
                    <a routerLink="donorrequests">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-4">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-clock fa-3x text-red"></i>
                <div class="ms-3">
                    <p class="mb-2">Recipient Requests</p>
                    
                    <h6 class="mb-0">2</h6>
                    <a routerLink="recipientrequests">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-4">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i style="height:48px" class="bi bi-file-medical-fill fa-3x text-red"></i>
                <div class="ms-3">
                    <p class="mb-2">Blood Groups</p>
                    
                    <h6 class="mb-0">8</h6>
                    <a routerLink="bloodgroups">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-4">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-calendar fa-3x text-red"></i>
                <div class="ms-3">
                    <p class="mb-2">FAQS</p>
                    
                    <h6 class="mb-0">22</h6>
                    <a routerLink="faqs">View Details</a>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- Sale & Revenue End -->
</div>

