<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-danger"><i class="fa fa-hashtag me-2"></i>ADMIN</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="./assets/panel_assets/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <!-- <h6 class="mb-0"><?php echo "Admin"; ?></h6> -->
                <span>ADMIN</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            
            <a routerLink="" class="nav-item nav-link"><i class="fa fa-bars me-2"></i>Menu</a>
            <a routerLink="donorrequests" class="nav-item nav-link"><i class="fa fa-clock me-2"></i>Donor Requests</a>
            <a routerLink="recipientrequests" class="nav-item nav-link"><i class="fa fa-clock me-2"></i>Recipient Request</a>
            <a routerLink="donorschedule" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Donors Schedule</a>
            <a routerLink="recipientschedule" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Recpt. Schedule</a>
            <a routerLink="donoractivity" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Donors Activity</a>
            <a routerLink="inventory" class="nav-item nav-link"><i class="fa fa-box me-2"></i>Inventory</a>
            <a routerLink="bloodcenter" class="nav-item nav-link"><i class="fa fa-hospital me-2"></i>Blood Centers</a>
            <a routerLink="cities" class="nav-item nav-link"><i class="fa fa-city me-2"></i>Manage Cities</a>
            <a routerLink="messages" class="nav-item nav-link"><i class="fa fa-envelope me-2"></i>Contact Messages</a>
            <a routerLink="drives" class="nav-item nav-link"><i class="fa fa-calendar me-2"></i>Donation Drives</a>
            <a routerLink="notifications" class="nav-item nav-link"><i class="fa fa-bell me-2"></i>Notifications</a>
            <a routerLink="sendnotifications" class="nav-item nav-link"><i class="fa fa-paper-plane me-2"></i>Send Notifications</a>
        </div>
    </nav>
</div>
<!-- Sidebar End -->
